html
  head
    title= title
  body
    h2 Choose your agency.
    select(id="agencyKey")
      option
      each agencyKey in agencyKeys
        option #{agencyKey}
    h2 Then choose your date.
    select(id="date")
      option(value="2017-11-28") Tuesday November 28 2017 sorry this is it
    h2 Then choose your source stop.
    select(id="sourceStop")
      option
    h2 Then choose your trip.
    select(id="trip")
      option
    h2 Then choose your destination.
    select(id="destinationStop")
      option
    p(id="verdict")
    div(id="map_canvas" style="display: block; width: 60%; height: 60%;")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="https://maps.googleapis.com/maps/api/js?sensor=false")
  script(src="/client.js")
